doctype html
html(ng-app='campaignsApp')
    include header.pug
    body(ng-controller='DashboardListController as dashboardCtr')
        #wrapper
            include navigation.pug
            #page-wrapper.gray-bg
                .row.border-bottom
                    nav.navbar.navbar-static-top(role='navigation', style='margin-bottom: 0')
                        .navbar-header
                            a.navbar-minimalize.minimalize-styl-2.btn.btn-primary(href='#')
                                i.fa.fa-bars
                            form.navbar-form-custom(role='search', method='post', action='search_results.html')
                        ul.nav.navbar-top-links.navbar-right
                            li
                                a(href='/logout')
                                    i.fa.fa-sign-out
                                    |  Log out
                .row.wrapper.border-bottom.white-bg.page-heading
                    .col-lg-10
                        h2  #{campaign.name}
                            |
                            |
                            if campaign.isActive
                                span.label.label-info Acitve
                            if !campaign.isActive
                                span.label.label-danger Inactive
                        ol.breadcrumb
                            li
                                a(href='/dashboard') Home
                            li
                                a Campaign
                            li.active
                                strong Statistics
                    .col-lg-2.text-center
                .wrapper.wrapper-content.animated.fadeInRight
                    .alert.alert-warning
                        p  <strong>Time interval:</strong> #{campaign.startDate} - #{campaign.endDate}
                        p  <strong>Resource:</strong> #{campaign.channel} (#{campaign.phone})
                        p  <strong>Created at:</strong> #{campaign.createdAt}
                        p  <strong>Last update:</strong> #{campaign.updatedAt}
                        p
                            a.btn.btn-warning.btn-rounded(href="/campaigns/" + campaign.id + "") Edit

                    .row
                        .col-lg-12
                            .ibox.float-e-margins
                                .ibox-title
                                    h5 Chatbot payments
                                    span.label.label-primary #{paymentsCount}
                                    .ibox-tools
                                        a.collapse-link
                                            i.fa.fa-chevron-up
                                        a.dropdown-toggle(data-toggle='dropdown', href='#')
                                            i.fa.fa-wrench
                                        ul.dropdown-menu.dropdown-user
                                            li
                                                a(href='#') Config option 1
                                            li
                                                a(href='#') Config option 2
                                        a.close-link
                                            i.fa.fa-times
                                .ibox-content
                                    table.table.table-striped.table-bordered.table-hover.dataTables-example
                                        thead
                                            tr
                                                th uid
                                                th Username
                                                th Email
                                                th Phone
                                                th Invoice ID
                                                th Billin info
                                                th Cteated at
                                        tbody
                                            each item in payments
                                                tr.gradeA
                                                    td= item.uid
                                                    td= item.userName
                                                    td= item.email
                                                    td= item.phone
                                                    td= item.invoiceId
                                                    td= item.billing
                                                    td= item.createdAt
                                        tfoot
                                            tr
                                                th uid
                                                th Username
                                                th Email
                                                th Phone
                                                th Invoice ID
                                                th Billin info
                                                th Cteated at
                    .row
                        .col-lg-12
                            .ibox.float-e-margins
                                .ibox-title
                                    h5 Chatbot sessions
                                    span.label.label-primary #{conversationsCount}
                                    .ibox-tools
                                        a.collapse-link
                                            i.fa.fa-chevron-up
                                        a.dropdown-toggle(data-toggle='dropdown', href='#')
                                            i.fa.fa-wrench
                                        ul.dropdown-menu.dropdown-user
                                            li
                                                a(href='#') Config option 1
                                            li
                                                a(href='#') Config option 2
                                        a.close-link
                                            i.fa.fa-times
                                .ibox-content
                                    table.table.table-striped.table-bordered.table-hover.dataTables-example
                                        thead
                                            tr
                                                th id
                                                th Phone
                                                th Username
                                                th Email
                                                th Address
                                                th Last phrase ID
                                                th Answers
                                                th
                                        tbody
                                            each item in conversations
                                                tr.gradeA
                                                    td= item.id
                                                    td= item.sender
                                                    td= item.username
                                                    td= item.email
                                                    td= item.address
                                                    td= item.last_phrase_id
                                                    td= item.answers
                                                    td
                                                        button.btn.btn-primary(type='button', data-toggle='modal', data-target='#myModal4')  Send message
                                                        #myModal4.modal.inmodal(tabindex='-1', role='dialog', aria-hidden='true')
                                                            .modal-dialog
                                                                .modal-content.animated.fadeIn
                                                                    .modal-header
                                                                        button.close(type='button', data-dismiss='modal')
                                                                            span(aria-hidden='true') &times;
                                                                            span.sr-only Close
                                                                        h4.modal-title Chat with user
                                                                    .modal-body
                                                                        form.form-horizontal#main(method='post', action="", role='form', name='dashboardCtr.form', novalidate)
                                                                            //Name
                                                                            .form-group(ng-class="{'has-error': dashboardCtr.isFormSend && dashboardCtr.form.message.$invalid}")
                                                                                label.col-sm-2.control-label Message:
                                                                                .col-sm-10
                                                                                    input.form-control(type='text' name='message', ng-required='true', ng-model='dashboardCtr.message.text', ng-maxlength='50')
                                                                    .modal-footer
                                                                        button.btn.btn-white(type='button', data-dismiss='modal') Close
                                                                        |
                                                                        button.btn.btn-primary(ng-click='dashboardCtr.sendMessage($event)') Send
                                        tfoot
                                            tr
                                                th id
                                                th Phone
                                                th Username
                                                th Email
                                                th Address
                                                th Last phrase ID
                                                th Answers
                                                th

                include footer.pug