doctype html
html
    include header.pug
    body
        #wrapper
            nav.navbar-default.navbar-static-side(role='navigation')
                .sidebar-collapse
                    ul#side-menu.nav
                        li.nav-header
                            .dropdown.profile-element
                                span
                                    img.img-circle(alt='image', src='/assets/img/profile_small.jpg')
                                |
                                a.dropdown-toggle(data-toggle='dropdown', href='#')
                                    span.clear
                                        span.block.m-t-xs
                                            strong.font-bold David Williams
                                        |
                                        span.text-muted.text-xs.block
                                            | Manager
                                            b.caret
                                ul.dropdown-menu.animated.fadeInRight.m-t-xs
                                    li
                                        a(href='profile.html') Profile
                                    li
                                        a(href='contacts.html') Contacts
                                    li
                                        a(href='mailbox.html') Mailbox
                                    li.divider
                                    li
                                        a(href='login.html') Logout
                            .logo-element  IN+
                        //li
                        //    a(href='index.html')
                        //        i.fa.fa-th-large
                        //        |
                        //        span.nav-label Dashboards
                        //        span.fa.arrow
                        //    ul.nav.nav-second-level
                        //        li
                        //            a(href='index.html') Dashboard v.1
                        //        li
                        //            a(href='dashboard_2.html') Dashboard v.2
                        //        li
                        //            a(href='dashboard_3.html') Dashboard v.3
                        //        li
                        //            a(href='dashboard_4_1.html') Dashboard v.4
                        //li
                        //    a(href='layouts.html')
                        //        i.fa.fa-diamond
                        //        |
                        //        span.nav-label Layouts
                        //        |
                        //        span.label.label-primary.pull-right NEW
                        //li
                        //    a(href='#')
                        //        i.fa.fa-bar-chart-o
                        //        |
                        //        span.nav-label Graphs
                        //        span.fa.arrow
                        //    ul.nav.nav-second-level
                        //        li
                        //            a(href='graph_flot.html') Flot Charts
                        //        li
                        //            a(href='graph_morris.html') Morris.js Charts
                        //        li
                        //            a(href='graph_rickshaw.html') Rickshaw Charts
                        //        li
                        //            a(href='graph_chartjs.html') Chart.js
                        //        li
                        //            a(href='graph_peity.html') Peity Charts
                        //        li
                        //            a(href='graph_sparkline.html') Sparkline Charts
                        //li
                        //    a(href='mailbox.html')
                        //        i.fa.fa-envelope
                        //        |
                        //        span.nav-label Mailbox
                        //        |
                        //        span.label.label-warning.pull-right 16/24
                        //    ul.nav.nav-second-level
                        //        li
                        //            a(href='mailbox.html') Inbox
                        //        li
                        //            a(href='mail_detail.html') Email view
                        //        li
                        //            a(href='mail_compose.html') Compose email
                        //        li
                        //            a(href='email_template.html') Email templates
                        li
                            a(href='/dashboard')
                                i.fa.fa-flask
                                |
                                span.nav-label Dashboard
                        //li
                        //    a(href='#')
                        //        i.fa.fa-edit
                        //        |
                        //        span.nav-label Forms
                        //        span.fa.arrow
                        //    ul.nav.nav-second-level
                        //        li
                        //            a(href='form_basic.html') Basic form
                        //        li
                        //            a(href='form_advanced.html') Advanced Plugins
                        //        li
                        //            a(href='form_wizard.html') Wizard
                        //        li
                        //            a(href='form_file_upload.html') File Upload
                        //        li
                        //            a(href='form_editors.html') Text Editor
                        //li
                        //    a(href='#')
                        //        i.fa.fa-desktop
                        //        |
                        //        span.nav-label App Views
                        //        |
                        //        span.pull-right.label.label-primary SPECIAL
                        //    ul.nav.nav-second-level
                        //        li
                        //            a(href='contacts.html') Contacts
                        //        li
                        //            a(href='profile.html') Profile
                        //        li
                        //            a(href='projects.html') Projects
                        //        li
                        //            a(href='project_detail.html') Project detail
                        //        li
                        //            a(href='file_manager.html') File manager
                        //        li
                        //            a(href='calendar.html') Calendar
                        //        li
                        //            a(href='faq.html') FAQ
                        //        li
                        //            a(href='timeline.html') Timeline
                        //        li
                        //            a(href='pin_board.html') Pin board
                        //li
                        //    a(href='#')
                        //        i.fa.fa-files-o
                        //        |
                        //        span.nav-label Other Pages
                        //        span.fa.arrow
                        //    ul.nav.nav-second-level
                        //        li
                        //            a(href='search_results.html') Search results
                        //        li
                        //            a(href='lockscreen.html') Lockscreen
                        //        li
                        //            a(href='invoice.html') Invoice
                        //        li
                        //            a(href='login.html') Login
                        //        li
                        //            a(href='login_two_columns.html') Login v.2
                        //        li
                        //            a(href='register.html') Register
                        //        li
                        //            a(href='404.html') 404 Page
                        //        li
                        //            a(href='500.html') 500 Page
                        //        li
                        //            a(href='empty_page.html') Empty page
                        //li
                        //    a(href='#')
                        //        i.fa.fa-globe
                        //        |
                        //        span.nav-label Miscellaneous
                        //        span.label.label-info.pull-right NEW
                        //    ul.nav.nav-second-level
                        //        li
                        //            a(href='toastr_notifications.html') Notification
                        //        li
                        //            a(href='nestable_list.html') Nestable list
                        //        li
                        //            a(href='timeline_2.html') Timeline v.2
                        //        li
                        //            a(href='forum_main.html') Forum view
                        //        li
                        //            a(href='google_maps.html') Google maps
                        //        li
                        //            a(href='code_editor.html') Code editor
                        //        li
                        //            a(href='modal_window.html') Modal window
                        //        li
                        //            a(href='validation.html') Validation
                        //        li
                        //            a(href='tree_view.html') Tree view
                        //        li
                        //            a(href='chat_view.html') Chat view
                        //li
                        //    a(href='#')
                        //        i.fa.fa-flask
                        //        |
                        //        span.nav-label UI Elements
                        //        span.fa.arrow
                        //    ul.nav.nav-second-level
                        //        li
                        //            a(href='typography.html') Typography
                        //        li
                        //            a(href='icons.html') Icons
                        //        li
                        //            a(href='draggable_panels.html') Draggable Panels
                        //        li
                        //            a(href='buttons.html') Buttons
                        //        li
                        //            a(href='video.html') Video
                        //        li
                        //            a(href='tabs_panels.html') Tabs &amp; Panels
                        //        li
                        //            a(href='notifications.html') Notifications &amp; Tooltips
                        //        li
                        //            a(href='badges_labels.html') Badges, Labels, Progress
                        //li
                        //    a(href='grid_options.html')
                        //        i.fa.fa-laptop
                        //        |
                        //        span.nav-label Grid options
                        //li.active
                        //    a(href='#')
                        //        i.fa.fa-table
                        //        |
                        //        span.nav-label Tables
                        //        span.fa.arrow
                        //    ul.nav.nav-second-level
                        //        li
                        //            a(href='table_basic.html') Static Tables
                        //        li.active
                        //            a(href='table_data_tables.html') Data Tables
                        //        li
                        //            a(href='jq_grid.html') jqGrid
                        //li
                        //    a(href='#')
                        //        i.fa.fa-picture-o
                        //        |
                        //        span.nav-label Gallery
                        //        span.fa.arrow
                        //    ul.nav.nav-second-level
                        //        li
                        //            a(href='basic_gallery.html') Lightbox Gallery
                        //        li
                        //            a(href='carousel.html') Bootstrap Carusela
                        //li
                        //    a(href='#')
                        //        i.fa.fa-sitemap
                        //        |
                        //        span.nav-label Menu Levels
                        //        span.fa.arrow
                        //    ul.nav.nav-second-level
                        //        li
                        //            a(href='#')
                        //                | Third Level
                        //                span.fa.arrow
                        //            ul.nav.nav-third-level
                        //                li
                        //                    a(href='#') Third Level Item
                        //                li
                        //                    a(href='#') Third Level Item
                        //                li
                        //                    a(href='#') Third Level Item
                        //        li
                        //            a(href='#') Second Level Item
                        //        li
                        //            a(href='#') Second Level Item
                        //        li
                        //            a(href='#') Second Level Item
                        //li
                        //    a(href='css_animation.html')
                        //        i.fa.fa-magic
                        //        |
                        //        span.nav-label CSS Animations
                        //        |
                        //        span.label.label-info.pull-right 62
                        //li.landing_link
                        //    a(target='_blank', href='Landing_page/index.html')
                        //        i.fa.fa-star
                        //        |
                        //        span.nav-label Landing Page
                        //        |
                        //        span.label.label-warning.pull-right NEW
                        //li.special_link
                        //    a(href='package.html')
                        //        i.fa.fa-database
                        //        |
                        //        span.nav-label Package
            #page-wrapper.gray-bg
                .row.border-bottom
                    nav.navbar.navbar-static-top(role='navigation', style='margin-bottom: 0')
                        .navbar-header
                            a.navbar-minimalize.minimalize-styl-2.btn.btn-primary(href='#')
                                i.fa.fa-bars
                            form.navbar-form-custom(role='search', method='post', action='search_results.html')
                        ul.nav.navbar-top-links.navbar-right
                            li
                                a(href='/logout')
                                    i.fa.fa-sign-out
                                    |  Log out
                .row.wrapper.border-bottom.white-bg.page-heading
                    .col-lg-10
                        h2 Chatbots payment statistics
                        ol.breadcrumb
                            li
                                a(href='/dashboard') Home
                            li
                                a Chatbot
                            li.active
                                strong Statistics
                    .col-lg-2
                .wrapper.wrapper-content.animated.fadeInRight
                    .row
                        .col-lg-12
                            .ibox.float-e-margins
                                .ibox-title
                                    h5 Chatbot payments
                                    .ibox-tools
                                        a.collapse-link
                                            i.fa.fa-chevron-up
                                        a.dropdown-toggle(data-toggle='dropdown', href='#')
                                            i.fa.fa-wrench
                                        ul.dropdown-menu.dropdown-user
                                            li
                                                a(href='#') Config option 1
                                            li
                                                a(href='#') Config option 2
                                        a.close-link
                                            i.fa.fa-times
                                .ibox-content
                                    table.table.table-striped.table-bordered.table-hover.dataTables-example
                                        thead
                                            tr
                                                th uid
                                                th Username
                                                th Email
                                                th Phone
                                                th Invoice ID
                                                th Billin info
                                                th Cteated at
                                        tbody
                                            each item in paymentList
                                                tr.gradeA
                                                    td= item.uid
                                                    td= item.userName
                                                    td= item.email
                                                    td= item.phone
                                                    td= item.invoiceId
                                                    td= item.billing
                                                    td= item.createdAt
                                        tfoot
                                            tr
                                                th uid
                                                th Username
                                                th Email
                                                th Phone
                                                th Invoice ID
                                                th Billin info
                                                th Cteated at
                    .row
                        .col-lg-12
                            .ibox.float-e-margins
                                .ibox-title
                                    h5 Chatbot sessions
                                    .ibox-tools
                                        a.collapse-link
                                            i.fa.fa-chevron-up
                                        a.dropdown-toggle(data-toggle='dropdown', href='#')
                                            i.fa.fa-wrench
                                        ul.dropdown-menu.dropdown-user
                                            li
                                                a(href='#') Config option 1
                                            li
                                                a(href='#') Config option 2
                                        a.close-link
                                            i.fa.fa-times
                                .ibox-content
                                    table.table.table-striped.table-bordered.table-hover.dataTables-example
                                        thead
                                            tr
                                                th id
                                                th Phone
                                                th Username
                                                th Email
                                                th Address
                                                th Last phrase ID
                                                th Answers
                                        tbody
                                            each item in conversations
                                                tr.gradeA
                                                    td= item.id
                                                    td= item.sender
                                                    td= item.username
                                                    td= item.email
                                                    td= item.address
                                                    td= item.last_phrase_id
                                                    td= item.answers
                                        tfoot
                                            tr
                                                th id
                                                th Phone
                                                th Username
                                                th Email
                                                th Address
                                                th Last phrase ID
                                                th Answers

                .footer
                    div
                        strong Copyright
                        |  Singlecomm &copy; 2017
        script(src='/assets/js/jquery-2.1.1.min.js')
        script(src='/assets/js/bootstrap.min.js')
        script(src='/assets/js/plugins/metisMenu/jquery.metisMenu.js')
        script(src='/assets/js/plugins/slimscroll/jquery.slimscroll.min.js')
        script(src='/assets/js/plugins/jeditable/jquery.jeditable.js')
        script(src='/assets/js/plugins/dataTables/jquery.dataTables.js')
        script(src='/assets/js/plugins/dataTables/dataTables.bootstrap.js')
        script(src='/assets/js/plugins/dataTables/dataTables.responsive.js')
        script(src='/assets/js/plugins/dataTables/dataTables.tableTools.min.js')
        script(src='/assets/js/inspinia.js')
        script(src='/assets/js/plugins/pace/pace.min.js')
        script.
          $(document).ready(function() {
            $('.dataTables-example').dataTable({
              responsive: true,
              "dom": 'T<"clear">lfrtip',
              "tableTools": {
                "sSwfPath": "/assets/js/plugins/dataTables/swf/copy_csv_xls_pdf.swf"
              }
            });
              /* Init DataTables */
            var oTable = $('#editable').dataTable();
              /* Apply the jEditable handlers to the table */
            oTable.$('td').editable( '../example_ajax.php', {
              "callback": function( sValue, y ) {
                var aPos = oTable.fnGetPosition( this );
                oTable.fnUpdate( sValue, aPos[0], aPos[1] );
              },
              "submitdata": function ( value, settings ) {
                return {
                  "row_id": this.parentNode.getAttribute('id'),
                  "column": oTable.fnGetPosition( this )[2]
                };
              },
              "width": "90%",
              "height": "100%"
            } );
          });
          function fnClickAddRow() {
            $('#editable').dataTable().fnAddData( [
              "Custom row",
              "New row",
              "New row",
              "New row",
              "New row" ] );
          }
        style.
            body.DTTT_Print {
                background: #fff;
            }
            .DTTT_Print #page-wrapper {
                margin: 0;
                background:#fff;
            }
            button.DTTT_button, div.DTTT_button, a.DTTT_button {
                border: 1px solid #e7eaec;
                background: #fff;
                color: #676a6c;
                box-shadow: none;
                padding: 6px 8px;
            }
            button.DTTT_button:hover, div.DTTT_button:hover, a.DTTT_button:hover {
                border: 1px solid #d2d2d2;
                background: #fff;
                color: #676a6c;
                box-shadow: none;
                padding: 6px 8px;
            }
            .dataTables_filter label {
                margin-right: 5px;
            }
