doctype html
html(ng-app='campaignsApp')
    include header.pug
    body(ng-controller='SessionsListController as sessionsCtr')
        #wrapper
            include navigation.pug
            #page-wrapper.gray-bg
                .row.border-bottom
                    nav.navbar.navbar-static-top(role='navigation', style='margin-bottom: 0')
                        .navbar-header
                            a.navbar-minimalize.minimalize-styl-2.btn.btn-primary(href='#')
                                i.fa.fa-bars
                            form.navbar-form-custom(role='search', method='post', action='search_results.html')
                        ul.nav.navbar-top-links.navbar-right
                            li
                                a(href='/logout')
                                    i.fa.fa-sign-out
                                    |  Log out
                .row.wrapper.border-bottom.white-bg.page-heading
                    .col-lg-10
                        h2  #{campaign.name}
                            |
                            |
                            if campaign.isActive
                                span.label.label-info Acitve
                            if !campaign.isActive
                                span.label.label-danger Inactive
                        ol.breadcrumb
                            li
                                a(href='/dashboard') Home
                            li
                                a Campaign
                            li.active
                                strong Sessions
                    .col-lg-2.text-center
                .wrapper.wrapper-content.animated.fadeInRight
                    .alert.alert-warning
                        h3  Campaign info:
                        p  <strong>Time interval:</strong> #{campaign.startDate} - #{campaign.endDate}
                        p  <strong>Resource:</strong> #{campaign.channel} (#{campaign.phone})
                        p  <strong>Created at:</strong> #{campaign.createdAt}
                        p  <strong>Last update:</strong> #{campaign.updatedAt}
                        p
                            a.btn.btn-warning.btn-rounded(href="/campaigns/" + campaign.id + "") Edit
                    .row
                        .col-lg-12
                            .ibox.chat-view
                                .ibox-title
                                    small.pull-right.text-muted(ng-if='!sessionsCtr.websocketIsError') Last message: Mon Jan 26 2015 - 18:39:23
                                    |  Chat room panel
                                    small.text-danger(ng-if='sessionsCtr.websocketIsError') Websocket error: Look in the console.
                                .ibox-content
                                    .row
                                        .col-md-9
                                            .chat-discussion
                                                h2(ng-if='sessionsCtr.userConversation.length == 0') No conversation
                                                h2.text-danger(ng-if='sessionsCtr.websocketIsError') Websocket error: Look in the console.
                                                .chat-message(ng-repeat='conv in sessionsCtr.userConversation track by $index', ng-class="{'direct1': conv.direction == 1, 'direct0': conv.direction == 0}")
                                                    img.message-avatar(src='/assets/img/person-black.png', ng-if='conv.direction == 1')
                                                    img.message-avatar(src='/assets/img/person-white.png', ng-if='conv.direction == 0')
                                                    .message
                                                        a.message-author(ng-if='conv.direction == 1') Chat bot
                                                        a.message-author(ng-if='conv.direction == 0') {{ sessionsCtr.currentUser.username }}
                                                        |
                                                        span.message-date Mon Jan 26 2015 - 18:39:23
                                                        |
                                                        span.message-content
                                                            | {{ conv.text }}
                                        .col-md-3
                                            .chat-users
                                                .users-list
                                                    .chat-user(ng-repeat='user in sessionsCtr.userList track by $index', ng-click='sessionsCtr.getConversation(user)', ng-class="{'current': user.id == sessionsCtr.currentUser.id}")
                                                        img.chat-avatar(src='/assets/img/person-white.png', alt='')
                                                        .chat-user-name
                                                            a {{ user.username || 'no name' }}
                                    .row
                                        .col-lg-12
                                            .chat-message-form
                                                .form-group
                                                    textarea.form-control.message-input(name='message', ng-model='sessionsCtr.messageText', placeholder='Enter message text',)
                                                    a.btn.btn-w-m.btn-success.chat-button(ng-click='sessionsCtr.sendMessage()', ng-show='!sessionsCtr.isSend', ng-disabled='!sessionsCtr.currentUser.sender') Send
                                                    a.btn.btn-w-m.btn-success.chat-button(ng-click='sessionsCtr.sendMessage()', disabled ng-show='sessionsCtr.isSend') Sending...




                include footer.pug
