doctype html
html(ng-app='campaignsApp')
    include header.pug
    body(ng-controller='SessionsListController as sessionsCtr')
        #wrapper
            include navigation.pug
            #page-wrapper.gray-bg
                .row.border-bottom
                    nav.navbar.navbar-static-top(role='navigation', style='margin-bottom: 0')
                        .navbar-header
                            a.navbar-minimalize.minimalize-styl-2.btn.btn-primary(href='#')
                                i.fa.fa-bars
                            form.navbar-form-custom(role='search', method='post', action='search_results.html')
                        ul.nav.navbar-top-links.navbar-right
                            li
                                a(href='/logout')
                                    i.fa.fa-sign-out
                                    |  Log out
                .row.wrapper.border-bottom.white-bg.page-heading

                    .col-lg-10(ng-if='sessionsCtr.type == "campaign"')
                        if campaign
                            h2  #{campaign.name}
                                |
                                |
                                if campaign.isActive
                                    span.label.label-info Acitve
                                if !campaign.isActive
                                    span.label.label-danger Inactive
                            ol.breadcrumb
                                li
                                    a(href='/dashboard') Home
                                li
                                    a Campaign
                                li.active
                                    strong Sessions

                    .col-lg-10(ng-if='sessionsCtr.type == "agent"')
                        if user
                            h2  Agent: #{user.username}

                        ol.breadcrumb
                            li
                                a(href='/dashboard') Home
                            li
                                a Agent
                            li.active
                                strong Sessions
                    .col-lg-2.text-center
                .wrapper.wrapper-content.animated.fadeInRight
                    .alert.alert-warning(ng-if='sessionsCtr.type == "campaign"')
                        if campaign
                            h3  Campaign info:
                            p  <strong>Time interval:</strong> #{campaign.startDate} - #{campaign.endDate}
                            p  <strong>Resource:</strong> #{campaign.channel} (#{campaign.phone})
                            p  <strong>Created at:</strong> #{campaign.createdAt}
                            p  <strong>Last update:</strong> #{campaign.updatedAt}
                            p
                                a.btn.btn-warning.btn-rounded(href="/campaigns/" + campaign.id + "") Edit
                    .row
                        .col-lg-12
                            input.form-control(type='hidden', name='conversations', ng-init="sessionsCtr.conversations = [" + conversations + "]" id='conversations', ng-model='sessionsCtr.conversations')
                            chat(ng-model='sessionsCtr.conversations')
                            //#webchat(data-campaignid='22', data-userid='ef5673bfb7d085693978e28e')


                include footer.pug
